body{
    background-image: url("képek/stb/brick.jpg");
}

h1{
    text-align: center;
    font-size: 85px;
}

#cim{
    text-transform: capitalize;
    text-decoration: double;
}

#homelogo{
    width: 50px;
    height: 50px;
}

#kepekek{
    width: 720px;
    height: auto;
}

#brekeke{
    width: 250px;
}

#tovabb:hover{
    background-color: dimgray;
    color: white;
}

#tovabb{
float: right;
}

#indul{
    float: right;
}

#ytszoveg{
    text-align: left;
}

#airpods3{
    width: 250px;
}

#legujab{
    color: dimgrey;
    
}

.navbartext{
    font-size: 30px;
    color: black;
    margin-left: 12px;
}

#iphonepromax1{
    width: 370px;
}

#watchs3{
  width: 452px;
}

#watchs4{
    width: 520px;
}

#watchs5{
    width: 450px;
}

#ratatataaa{
    margin-top: 100px;
    background-color: lightgray;
    margin-bottom: 160px;    
}

#partnerkep{
    width: 120px;
}

#thanksss{
    width: 350px;
}